---
// Redirection vers la page de prise de RDV
// (remplace l'ancienne page contact)
---
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="refresh" content="0;url=/prendre-rdv" />
    <link rel="canonical" href="/prendre-rdv" />
    <title>Redirection...</title>
  </head>
  <body>
    <p>Cette page a déménagé. <a href="/prendre-rdv">Prendre rendez-vous</a></p>
  </body>
</html>
